java/java.helpers/src/test/resources/xml_xsd/students.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE class [
    <!ELEMENT class (student*)>
    <!ELEMENT student (firstname, lastname, nickname, marks)>
    <!ATTLIST student rollno CDATA #REQUIRED>
    <!ELEMENT firstname (#PCDATA)>
    <!ELEMENT lastname (#PCDATA)>
    <!ELEMENT nickname (#PCDATA)>
    <!ELEMENT marks (#PCDATA)>
]>